@{
  Layout ="shared/_Layout.cshtml";
}

<h3>Please enter a sentence and a word,  then click on "count the words" button to see the word frequency in your sentence. </h3>
<form action="/" method="post">
  <label for="sentence">Sentence</label>
  <input id="sentence" name="sentence" type="text">
  <label for="word">Word</label>
  <input id="word" name="word" type="text" required>
  <button type="submit">Count the words!</button>
</form>
